[Unit] 
Description=Node Exporter

[Service]
ExecStart=/usr/bin/node_exporter --web.listen-address=:8100 
Restart=always

[Install] 
WantedBy=multi-user.target
